<!DOCTYPE html>
<html>
  <head>
    <title>Wfsample</title>
  </head>

  <body>
    <div class="container">
      <%= link_to "sample app", root_path, id: "logo" %>
      <nav>
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </nav>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </body>
</html>
